//! **************************************************************************
// Written by: Map P.28xd on Sun Dec 08 18:22:16 2019
//! **************************************************************************

SCHEMATIC START;
COMP "rgb<0>" LOCATE = SITE "P103" LEVEL 1;
COMP "rgb<1>" LOCATE = SITE "P104" LEVEL 1;
COMP "rgb<2>" LOCATE = SITE "P105" LEVEL 1;
COMP "clk_12" LOCATE = SITE "P129" LEVEL 1;
COMP "rgb<3>" LOCATE = SITE "P99" LEVEL 1;
COMP "rgb<4>" LOCATE = SITE "P101" LEVEL 1;
COMP "rgb<5>" LOCATE = SITE "P102" LEVEL 1;
COMP "rgb<6>" LOCATE = SITE "P96" LEVEL 1;
COMP "rgb<7>" LOCATE = SITE "P98" LEVEL 1;
COMP "hsync" LOCATE = SITE "P93" LEVEL 1;
COMP "sw<0>" LOCATE = SITE "P58" LEVEL 1;
COMP "sw<1>" LOCATE = SITE "P59" LEVEL 1;
COMP "sw<2>" LOCATE = SITE "P60" LEVEL 1;
COMP "sw<3>" LOCATE = SITE "P63" LEVEL 1;
COMP "sw<4>" LOCATE = SITE "P64" LEVEL 1;
COMP "sw<5>" LOCATE = SITE "P68" LEVEL 1;
COMP "sw<6>" LOCATE = SITE "P69" LEVEL 1;
COMP "sw<7>" LOCATE = SITE "P70" LEVEL 1;
COMP "rst_n" LOCATE = SITE "P75" LEVEL 1;
COMP "vsync" LOCATE = SITE "P92" LEVEL 1;
NET "clock_inst_0/CLKIN_IBUFG" PERIOD = 83.3333333 ns HIGH 50%;
SCHEMATIC END;

